@import '@/app/styles/mixins.scss';

.siteHeader {
    border-top: .5rem solid var(--accent);
    height: var(--header-height);
}

.logo {
    height: auto;
    width: var(--logo-width);
}

// @include breakpoint(md) {

//     .logo {
//         width: 9rem;
//     }

// }

@include breakpoint(xl) {

    .logo {
        width: 9rem;
    }

}