@import '@/app/mixins.scss';

.cite {
  display: block;
  font-size: rem(14);
  font-style: normal;
  letter-spacing: rem(2);
  line-height: 1.75;
  margin-top: rem(30);
  text-transform: uppercase;

  p {
    margin: 0;
  }

}

.hasAvatar {
  column-gap: rem(20);
  display: grid;
  grid-template-columns: rem(55) 1fr;
}

.avatar {
  align-self: center;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.role {
  font-size: rem(12);
}

@include breakpoint(lg) {

  .role {
    font-size: rem(14);
  }

}


@include breakpoint(md) {

  .cite {
    margin-top: rem(40)
  }

}

@include breakpoint(xl) {

  .cite {
      font-size: rem(15);
      letter-spacing: rem(3);
      margin-top: rem(60);
  }

}