@import '@/app/mixins.scss';

.latestProjects {
  overflow-x: hidden;
}

.latestProjects :global {

  .slick-list {
    margin: 0 rem(-20);
    overflow: visible;    
  }
  .slick-track {
    overflow: visible;
  }  

  .slick-slide {
    padding: 0 rem(20);
  }

  .slick-dots {
    display: grid !important;
    grid-auto-flow: column;
    gap: rem(10);
    height: rem(16);
    list-style: none;
    margin: rem(30) 0 0;
    padding: 0;

    li {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: rem(8);
      overflow: hidden;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 100%;
      transition: background-color .3s ease;
      width: 100%;
    }

    .slick-active button {      
      background: var(--accent);
    }

  }

}

@include breakpoint(sm) {

  .latestProjects :global {

    .slick-slide {
      opacity: .25;
      transition: opacity .5s ease;
  
      &:not(.slick-active) {
        cursor: pointer;
        
        &:hover {
          opacity: .4;
        }
  
      }
  
      &.slick-active {
        opacity: 1;
      }
  
    }

    .slick-dots {
      height: rem(8);
      margin-top: rem(50);

      li {
        border-radius: rem(4);
      }

    }

  }

}

@include breakpoint(lg) {

  .latestProjects :global {

    .slick-dots {

      button:hover {
        background-color: rgba(255, 255, 255, 0.15);  
      }

    }

  }

}