@import '@/app/mixins.scss';

.bulletsCallout {

    > div {
        display: grid;
        gap: rem(40);
    }

}

.bullets {
    @include basicList;
    display: grid;
    gap: rem(40);

    li {

        svg {
            fill: var(--accent);
            height: rem(40);
            margin-bottom: rem(20);
            width: auto;
        }

    }

}

.bulletsCalloutImage {

    img {
        display: block;
        height: auto;
        object-fit: cover;
        width: 100%;
    }

}

@include breakpoint(md, max) {

    .bulletsCalloutImage {
        grid-row: 2;

        img {
            max-height: rem(400);
        }

    }

    .intro {
        grid-row: 1;
    }

    .bullets {
        grid-row: 3;
    }

}

@include breakpoint(sm) {

    .bullets {
        grid-template-columns: repeat(2, 1fr);
    }

}

@include breakpoint(md) {

    .bulletsCallout {

        > div {
            justify-content: space-between;
            grid-template-columns: 1fr rem(400);
            gap: rem(60);
        }

        .intro {
            grid-column: 1 / 3;
        }

        .bullets {
            grid-column: 1 / 2;
        }

        .bulletsCalloutImage {
            grid-column: 2 / 3;

            img {
                height: 100%;
                object-fit: cover;
            }

        }

    }

    .bulletsCalloutReverse {

        > div {
            grid-template-columns: rem(400) 1fr;
        }

        .bulletsCalloutImage {
            grid-column: 1 / 2;
        }

        .bullets {
            grid-column: 2 / 3;
            grid-row: 2;
        }

    }

    .bullets {
        grid-template-columns: 1fr;
    }

}

@include breakpoint(lg) {

    .bulletsCallout {

        > div {
            grid-template-columns: 1fr rem(500);
        }

    }

    .bulletsCalloutReverse {

        > div {
            grid-template-columns: rem(500) 1fr;
        }

    }

    .bullets {
        grid-template-columns: repeat(2, 1fr);
    }

}

@include breakpoint(xl) {

    .bulletsCallout {

        > div {
            gap: rem(60) rem(80);
            grid-template-columns: 1fr rem(550);
        }

        .intro {
            grid-column: 1 / 2;
        }

        .bulletsCalloutImage {
            grid-row: 1 / 3;

        }

    }

    .bullets {
        gap: rem(40);
    }

    .bulletsCalloutReverse {

        > div {
            grid-template-columns: rem(550) 1fr;
        }

        .intro {
            grid-column: 2 / 3;
        }

    }

}

@include breakpoint(xxl) {

    .bulletsCallout {

        > div {
            gap: rem(60) rem(100);
            grid-template-columns: 1fr rem(600);
        }

        .bullets {
            gap: rem(80);
        }

    }

    .bulletsCalloutReverse {

        > div {
            grid-template-columns: rem(600) 1fr;
        }

    }

}
