@import '@/app/mixins.scss';

.button {
  align-items: center;
  background: var(--button-bg);
  color: var(--button-colour);
  display: flex;
  min-height: rem(55);
  justify-content: center;
  font-size: rem(16);
  font-weight: var(--fw-bold);
  letter-spacing: rem(3);
  line-height: 1;
  padding: 0 rem(25);
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--hover-transition);
}

@media not all and (hover: none) {

  .button {

    &:hover {
      background: var(--button-hover-bg);
      color: var(--button-hover-colour);
      transform: scale(1.03);
    }
    
  }

}

.buttonAlt {
  background: var(--button-alt-bg);
  color: var(--button-alt-colour);

  &:hover {
    background: var(--button-alt-hover-bg);
    color: var(--button-alt-hover-colour);
  }

}

@include breakpoint(xl) {

  .button {
    font-size: rem(19);
    min-height: rem(60);
  }

}