@import '@/app/mixins.scss';

.container {
    margin: 0 auto;
    // padding: 0 rem(16);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%;
}

@include breakpoint(sm) {

    .container {
        max-width: rem(680);
    }

}

@include breakpoint(md) {

    .container {
        max-width: rem(980);
    }

    .containerNarrow {
        max-width: rem(950);
    }

}

@include breakpoint(lg) {

    .container:not(.containerNarrow) {
        max-width: rem(1180);
    }

}

@include breakpoint(xl) {

    .container:not(.containerNarrow) {
        max-width: rem(1380);
    }

}

@include breakpoint(xxl) {

    .container:not(.containerNarrow) {
        max-width: rem(1580);
    }

}
