@import '@/app/mixins.scss';

.homeHero {
    text-align: center;

    h1 {
        font-size: rem(32);
        line-height: 1.4;
        margin-bottom: rem(32);

        span,
        strong,
        b {
            color: var(--accent);
            font-family: var(--secondary-font);
            font-weight: var(--fw-regular);
        }

    }

}

.downloadCv {
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: rem(32);
    }

    a {
        align-self: center;
    }

}

@include breakpoint(sm) {

    .homeHero {
        max-width: 90vw;
        margin: 0 auto;

        h1 {
            font-size: rem(48);
        }

    }

    .downloadCv {
        max-width: rem(500);
        margin: 0 auto;
    }

}

@include breakpoint(md) {

    .homeHero {
        max-width: none;
        text-align: left;

        h1 {
            font-size: rem(48);
            margin-bottom: 0;
        }

        >div {
            align-items: flex-end;
            display: grid;
            justify-content: space-between;
            gap: rem(30);
            grid-template-columns: minmax(0, rem(650)) rem(300);
        }

    }

    .downloadCv {
        max-width: none;
        margin: 0;

        a {
            align-self: flex-start;
        }

    }

}

@include breakpoint(lg) {

    .homeHero {

        h1 {
            font-size: rem(56);
        }

        >div {
            grid-template-columns: minmax(0, rem(800)) rem(300);
        }

    }

    .downloadCv {
        margin-bottom: rem(-80);
    }

}

@include breakpoint(xl) {

    .homeHero {

        h1 {
            font-size: rem(64);
        }

        >div {
            grid-template-columns: minmax(0, rem(900)) rem(330);
        }

    }

}

@include breakpoint(xxl) {

    .homeHero {

        h1 {
            font-size: rem(72);
        }

        >div {
            grid-template-columns: minmax(0, rem(1100)) rem(330);
        }

    }

}

@include breakpoint(xxxl) {

    .homeHero {

        h1 {
            font-size: rem(80);
        }

    }

}
