@import '@/app/mixins.scss';

.homeHero {
  text-align: center;

  h1 {    
    font-size: rem(32);
    font-weight: var(--fw-bold);
    line-height: 1.4;
    margin-bottom: rem(32);

    span {
      color: var(--accent);
      font-family: var(--secondary-font);
      font-weight: var(--fw-regular);
    }

  }

}

.downloadCv {
  display: flex;
  flex-direction: column;

  p {
    font-size: rem(16);
    line-height: 1.75;
    margin-bottom: rem(32);
  }

  a {
    align-self: center;
    // min-width: rem(250);
  }

}

@include breakpoint(sm) {

  .homeHero {
    max-width: 90vw;
    margin: 0 auto;    
    
    h1 {
      font-size: rem(48);
    }

  }

  .downloadCv {    

    p {
      font-size: rem(24);
    }

  }

}



@include breakpoint(md) {

  .homeHero {
    max-width: none;
    text-align: left;

    h1 {
      font-size: rem(48);
      margin-bottom: 0;
    }

    > div {
      align-items: flex-end;
      display: grid;
      justify-content: space-between;
      gap: rem(30);
      grid-template-columns: minmax(0, rem(650)) rem(300);
    }  

  }

  .downloadCv {

    p {
      font-size: rem(16);
      margin-bottom: rem(32);
    }

    a {
      align-self: flex-start;
    }

  }

}

@include breakpoint(lg) {

  .homeHero {

    h1 {
      font-size: rem(56);
    }

    > div {
      grid-template-columns: minmax(0, rem(800)) rem(300);
    } 

  }

  .downloadCv {
    margin-bottom: rem(-80);

    p {
      font-size: rem(18);
    }

  }

}
@include breakpoint(xl) {

  .homeHero {

    h1 {
      font-size: rem(64);
    }

    > div {
      grid-template-columns: minmax(0, rem(900)) rem(330);
    } 

  }

}