@import '@/app/mixins.scss';

.card {
    background: var(--light-blue);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: rem(30);

    svg {
        align-self: flex-start;
        fill: var(--accent);
        height: rem(30);
        margin-bottom: rem(20);
        width: auto;
    }

    :global(.tailwind) {
        height: rem(25);
    }

    :global(.cms) {
        height: rem(40);
    }

    :global(.wcag) {
        height: rem(40);
    }

}

.cardLink {
    background: var(--accent);
    color: var(--white);
    text-decoration: none;
    transition: var(--hover-transition);

    svg {
        fill: var(--white);
        transition: var(--hover-transition);
    }

}

.noBg {
    background: none;
    padding: 0;
}

@include breakpoint(sm) {

    .card {

        svg {
            height: rem(40);
        }

        :global(.tailwind) {
            height: rem(30);
        }

        :global(.cms) {
            height: rem(50);
        }

        :global(.wcag) {
            height: rem(50);
        }

    }

}

@include breakpoint(lg) {

    .card:not(.noBg) {
        padding: rem(30);
    }

}

@include breakpoint(xxl) {

    .card:not(.noBg) {
        padding: rem(40);
    }

}

@media not all and (hover: none) {

    .cardLink {

        &:hover {
            background: var(--white);
            color: var(--accent);
            transform: scale(1.03);

            svg {
                fill: var(--accent);
            }

        }

    }

}
