@import '@/app/mixins.scss';

.card {
    background: var(--light-blue);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: rem(30);

    .image {
        overflow: hidden;
        margin: rem(-30) rem(-30) rem(30);

        img {
            aspect-ratio: 16 / 9;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            display: block;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

    }

    .icon svg {
        fill: var(--accent);
        height: rem(40);
        margin-bottom: rem(20);
        transition: var(--hover-transition);
        width: auto;
    }

    .title {
        font-size: rem(18);
        font-weight: var(--fw-bold);
        line-height: rem(32);
        margin-bottom: rem(10);
    }

    // h3 {
    //     font-size: rem(24);
    //     margin-bottom: rem(15);
    // }

    .fauxLink {
        margin-top: auto;
    }

    :global(.tailwind) {
        height: rem(25);
    }

    :global(.cms) {
        height: rem(40);
    }

    :global(.wcag) {
        height: rem(40);
    }

}

.cardLink {
    color: var(--white);
    text-decoration: none;
    transition: var(--hover-transition);
}

.noBg {
    background: none;
    padding: 0;
}

@include breakpoint(sm) {

    .card {

        .title {
            font-size: rem(24);
            line-height: rem(40);
        }

        //         .icon svg {
        //     height: rem(40);
        // }

        :global(.tailwind) {
            height: rem(30);
        }

        :global(.cms) {
            height: rem(50);
        }

        :global(.wcag) {
            height: rem(50);
        }

    }

}

@include breakpoint(md) {

    .card {

        .image {
            margin: rem(-15) rem(-15) rem(30);

            img {
                border-radius: var(--border-radius);
            }

        }

    }

}


// @include breakpoint(lg) {

//     .card:not(.noBg) {
//         padding: rem(30);
//     }

// }

@include breakpoint(xl) {

    .card:not(.noBg) {
        padding: rem(40);
    }

    .card {

        .image {
            margin: rem(-20) rem(-20) rem(40);
        }

        .icon svg {
            margin-bottom: rem(30);
        }

        // h3 {
        //     font-size: rem(32);
        //     margin-bottom: rem(10);
        // }

    }

}

// @include breakpoint(xxl) {

//     .card:not(.noBg) {
//         padding: rem(40);
//     }

// }

@media not all and (hover: none) {

    .cardLink {

        &:hover {
            background: var(--accent);
            transform: scale(1.03);

            .icon svg {
                fill: var(--white);
            }

            :global(.textLink--faux) {
                color: var(--white);
                text-decoration: underline;
                text-underline-offset: rem(8);
            }

            :global(.textLink--faux) svg path {
                stroke: var(--white);
            }

        }

    }

}
