@import '@/app/mixins.scss';

.animate {
  opacity: 0;
  transform: translateY(rem(150));
  transition: opacity 1s ease-out, transform .8s ease-out;
}

.inView {
  opacity: 1;
  transform: translateY(0);
}
