@import '@/app/mixins.scss';

:root {
  
    //= Colours

    --white: #fff;
    --dark-blue: #030F1E; 
    --pink: #F21483;

    --bg: var(--dark-blue);
    --accent: var(--pink);
    --text-colour: var(--white);


    //= Typography

    --primary-font: var(--font-poppins);
    --secondary-font: var(--font-permanent-marker);
    --fw-regular: 400;
    --fw-bold: 700;

    --p-font-size: rem(18);
    --p-line-height: 1.75;


    //= Transitions

    --hover-transition: all .2s ease-in-out;


    //= Buttons

    --button-bg: var(--accent);
    --button-colour: var(--white);
    --button-hover-bg: var(--white);
    --button-hover-colour: var(--accent);

    --button-alt-bg: var(--white);
    --button-alt-colour: var(--accent);
    --button-alt-hover-bg: var(--accent);
    --button-alt-hover-colour: var(--white);
    
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  // max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--bg);
  color: var(--text-colour);
  font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
}




.bp-helper {
  align-items: center;
  display: none;
  position: fixed;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-size: 30px;

  &--base {
    display: flex;
  }

}

@include breakpoint(sm) {

  .bp-helper {
    display: none;
    
    &--sm {
      background: limegreen;
      display: flex;
    }

  }

}

@include breakpoint(md) {

  .bp-helper {
    display: none;
    
    &--md {
      background: orange;
      display: flex;
    }

  }

}

@include breakpoint(lg) {

  .bp-helper {
    display: none;
    
    &--lg {
      background: red;
      display: flex;
    }

  }

}

@include breakpoint(xl) {

  .bp-helper {
    display: none;
    
    &--xl {
      background: blue;
      display: flex;
    }

  }

}

@include breakpoint(xxl) {

  .bp-helper {
    display: none;
    
    &--xxl {
      background: hotpink;
      display: flex;
    }

  }

}


@include breakpoint(xxxl) {

  .bp-helper {
    display: none;
    
    &--xxxl {
      background: yellow;
      display: flex;
    }

  }

}