@import '@/app/mixins.scss';

:root {
  
    //= Colours

    --white: #fff;
    --dark-blue: #030F1E;
    --darker-blue: #01060D;
    --pink: #F21483;

    --bg: var(--dark-blue);
    --accent: var(--pink);
    --text-colour: var(--white);


    //= Typography

    --primary-font: var(--font-poppins);
    --secondary-font: var(--font-permanent-marker);
    --fw-regular: 400;
    --fw-bold: 700;


    //= Transitions

    --hover-transition: all .2s ease-in-out;


    //= Buttons

    --button-bg: var(--accent);
    --button-colour: var(--white);
    --button-hover-bg: var(--white);
    --button-hover-colour: var(--accent);

    --button-alt-bg: var(--white);
    --button-alt-colour: var(--accent);
    --button-alt-hover-bg: var(--accent);
    --button-alt-hover-colour: var(--white);


    //= Layout

    --container-padding: 20px;

    
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  // overflow-x: hidden;
}

body {
  background: var(--bg);
  color: var(--text-colour);
  font-family: var(--primary-font);
  // max-width: 100vw;
  
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: var(--fw-regular);
  margin: 0;
}

h1, h2 {
  font-weight: var(--fw-bold);
}

p {
  font-size: rem(16);
  line-height: 1.75;
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }

}

strong {
  font-weight: var(--fw-bold);
}

.block {
  margin-top: rem(80);
  margin-bottom: rem(80);
}

.textLink {
  color: var(--accent);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  text-underline-offset: rem(8);
  transition: .2s color ease;

  &:hover {
    color: var(--white);
  }

  &--alt:hover {
    color: var(--dark-blue);
  }

}

@include breakpoint(sm) {

  .block {
    margin-top: rem(150);
    margin-bottom: rem(150);
  }

}

@include breakpoint(md) {

  .block {
    margin-top: rem(150);
    margin-bottom: rem(150);
  }

}

@include breakpoint(lg) {

  p {
    font-size: rem(18);
    line-height: 1.9;
    margin-bottom: rem(30);
  }

}

@include breakpoint(xl) {

  .block {
    margin-top: rem(250);
    margin-bottom: rem(250);
  }

}

@include breakpoint(xxl) {

  .block {
    margin-top: rem(300);
    margin-bottom: rem(300);
  }

}

// @include breakpoint(xxxl) {

//   p {
//     font-size: rem(20);    
//   }

// }




// HIDE

.bp-helper {
  align-items: center;
  display: none;
  position: fixed;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-size: 30px;

  &--base { display: flex; }

  @include breakpoint(sm) {    
    display: none;
    &--sm { background: limegreen; display: flex; }  
  }

  @include breakpoint(md) {
    display: none;      
    &--md { background: orange; display: flex; }  
  }
  
  @include breakpoint(lg) {
    display: none;      
    &--lg { background: red; display: flex; }  
  }
  
  @include breakpoint(xl) {
    display: none;
    &--xl { background: blue; display: flex; }  
  }
  
  @include breakpoint(xxl) {  
    display: none;      
    &--xxl { background: hotpink; display: flex; }  
  }  
  
  @include breakpoint(xxxl) {  
    display: none;
    &--xxxl { background: yellow; display: flex; }  
  }

}