// @import '@/app/mixins.scss';

.siteHeader {
    border-top: .5rem solid var(--accent);
    height: var(--header-height);

    > div {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    
}

.logo {
    align-self: center;

    > img {
        height: auto;
        width: var(--logo-width);
    }

}