@import '@/app/mixins.scss';

.latestProjectsSlide {
  border-radius: rem(4);
  overflow: hidden;
  position: relative;

  .projectDetails,
  .projectDetailsMask {
    display: none;    
  }

  img {
    height: auto;
    width: 100%;
  }

}

@include breakpoint(lg) {

  .latestProjectsSlide {
  
    .projectDetails,
    .projectDetailsMask {
      display: flex;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .3s ease;
      width: 100%;
    }

    .projectDetails {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1;
  
      span {
        font-size: rem(18);
        letter-spacing: rem(5);
        text-transform: uppercase;
      }
  
      h2 {
        font-size: rem(58);
        font-weight: var(--fw-bold);
        margin: rem(30) 0;
      }
  
      p {
        margin: 0 auto rem(50);
        max-width: rem(570);
      }
  
    }
  
    .projectDetailsMask {
      background: var(--dark-blue);    
    }

  }

  :global(.hoverEnabled) :global(.slick-active) .latestProjectsSlide {
  
    &:hover {
  
      .projectDetails {
        opacity: 1;
      }
  
      .projectDetailsMask {
        opacity: .85;
      }
        
    }
  
  }

}