@import '@/app/mixins.scss';

.cardsList {
  display: grid;
  margin-top: rem(40);
}

@include breakpoint(sm, max) {

  .cardsList {
    grid-auto-flow: column;
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: rem(30);

    >div,
    > a {
      scroll-snap-align: center;
      flex: 0 0 auto;
      margin-right: var(--container-padding);
      width: 80vw;
    }

    >div,
    > a:first-child {
      margin-left: var(--container-padding);
    }

  }

}

@include breakpoint(sm) {

  .cardsList {
    gap: rem(32);
  }

}

@include breakpoint(md) {

  .cardsList {
    gap: rem(24);
    grid-template-columns: repeat(3, 1fr);  
    margin-top: rem(60);
  }

}

@include breakpoint(lg) {

  .cardsList {
    gap: rem(40);
    margin-top: rem(80);
  }

}

@include breakpoint(xxl) {

  .cardsList {
    gap: rem(56);
    margin-top: rem(100);
  }

}