@import '@/app/mixins.scss';

.callout {

  > div {
    position: relative;
  }

  h2 {
    font-size: rem(20);
    line-height: rem(32);
    margin-bottom: rem(20);
  }

}

.calloutImage {
  border-radius: rem(4) rem(4) 0 0;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.calloutContent {
  background: var(--white);
  border-radius: 0 0 rem(4) rem(4);
  color: var(--dark-blue);
  padding: rem(40) rem(30);
}

@include breakpoint(sm) {
  
  .calloutImage {
    height: rem(400);
  }

  .calloutContent {      
    padding: rem(40);
  }

}


@include breakpoint(md) {

  .callout {

    h2 {
      font-size: rem(26);
      line-height: rem(40);
    }

  }

  .calloutImage,
  .calloutContent {
    border-radius: rem(4);
  }

  .calloutImage {
    height: auto;
    width: 60%;
  }

  .calloutContent {
    padding: rem(60);      
    position: absolute;
    right: 0;
    top: rem(60);
    width: 55%;
  }

}

@include breakpoint(xl) {

  .callout {

    h2 {
      margin-bottom: rem(30);
    }

  }

  .calloutImage {
    max-width: 100%;
    width: auto;
  }

  .calloutContent {
    max-width: rem(800);
    top: rem(100);
    width: auto;
  }

}

@include breakpoint(xxl) {

  .callout {
    
    h2 {
      font-size: rem(32);
      line-height: rem(48);
      margin-bottom: rem(40);
    }

  }

  .calloutContent {
    max-width: rem(850);
    padding: rem(90) rem(70);
    right: rem(60);
  }

}

@include breakpoint(xxxl) {

  .callout {

    h2 {
      font-size: rem(40);
      line-height: rem(54);
    }

  }

}