@import '@/app/mixins.scss';

.callout {

  > div {
    position: relative;
  }

  .calloutImage {
    border-radius: rem(4) rem(4) 0 0;
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  
  .calloutContent {
    background: var(--white);
    border-radius: 0 0 rem(4) rem(4);
    color: var(--dark-blue);
    padding: rem(40) rem(30);

    h2 {
      margin-bottom: rem(20);
    }

  }

}

@include breakpoint(sm) {
  
  .callout {

    .calloutImage {
      height: rem(400);
    }

    .calloutContent {      
      padding: rem(40);
    }

  }

}


@include breakpoint(md) {

  .callout {

    .calloutImage,
    .calloutContent {
      border-radius: rem(4);
    }

    .calloutImage {
      height: auto;
      width: 60%;
    }

    .calloutContent {
      padding: rem(60);      
      position: absolute;
      right: 0;
      top: rem(60);
      width: 55%;
    }

  }

}

@include breakpoint(xl) {

  .callout {

    .calloutImage {
      max-width: 100%;
      width: auto;
    }

    .calloutContent {
      max-width: rem(800);
      top: rem(100);
      width: auto;

      h2 {
        margin-bottom: rem(30);
      }
      
    }

  }

}

@include breakpoint(xxl) {

  .callout {

    .calloutContent {
      max-width: rem(850);
      padding: rem(90) rem(70);
      right: rem(60);

      h2 {
        margin-bottom: rem(40);
      }

    }

  }

}