@import '@/app/mixins.scss';

.animate {
  opacity: 0;
  transform: translateY(rem(150));
  transition: opacity 1s ease-out, transform .8s ease-out;
}

.inView {
  opacity: 1;
  transform: translateY(0);
}

.callout {

  > div {
    position: relative;
  }

  h2 {
    font-size: rem(20);
    line-height: rem(32);
    margin-bottom: rem(20);
  }

}

.calloutImage {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.calloutContent {
  background: var(--light-blue);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--white);
  padding: rem(40) rem(30);
}

@include breakpoint(sm) {

  .calloutImage {

    height: rem(400);
  }

  .calloutContent {
    padding: rem(40);
  }

}

@include breakpoint(md) {

  .callout {

    h2 {
      font-size: rem(26);
      line-height: rem(40);
    }

  }

  .calloutImage,
  .calloutContent {
    border-radius: var(--border-radius);
  }

  .calloutImage {
    height: auto;
    width: 60%;
  }

  .calloutContent {
    padding: rem(50);
    position: absolute;
    right: var(--container-padding);
    top: rem(-20);
    width: 55%;
  }

}


@include breakpoint(lg) {

  .calloutContent {
    padding: rem(60);
    top: rem(40);
  }

}



@include breakpoint(xl) {

  .callout {

    h2 {
      font-size: rem(32);
      line-height: rem(48);
      margin-bottom: rem(40);
    }

  }

  .calloutImage {
    max-width: rem(880);
  }

  .calloutContent {
    max-width: rem(800);
    padding: rem(60);
    top: rem(80);
    width: auto;
  }

}

@include breakpoint(xxl) {

  .calloutContent {
    max-width: rem(850);
    padding: rem(90) rem(70);
    right: rem(60);
  }

}

@include breakpoint(xxxl) {

  .callout {

    h2 {
      font-size: rem(40);
      line-height: rem(60);
    }

  }

  .calloutContent {
    top: rem(100);
  }

}
