@import '@/app/mixins.scss';

.clientLogos {

  > div {
    align-items: center;
    display: grid;
    gap: rem(50);
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    height: auto;
    opacity: .5;
    margin: 0 auto;
    max-width: rem(150);
    max-height: rem(40);    
    transition: opacity .3s ease;
    width: 100%;    

    &:hover {
      opacity: 1;
    }

  }

}


@include breakpoint(sm) {

  .clientLogos {
    margin-top: rem(100);
    margin-bottom: 0;

    > div {
      gap: rem(60) rem(50);
      grid-template-columns: repeat(4, 1fr);
    }

  }

}

@include breakpoint(md) {

  .clientLogos {
    margin-top: rem(150);

    > div {
      gap: rem(70) rem(50);    
    }

  }

}

@include breakpoint(xl) {

  .clientLogos {
    margin-top: rem(200);

    > div {
      grid-template-columns: repeat(6, 1fr);
    }

  }

}

@include breakpoint(xxl) {

  .clientLogos {

    > div {
      gap: rem(120) rem(90);
      grid-template-columns: repeat(6, 1fr);
    }

    img {
      max-width: rem(200);
      max-height: rem(60);
    }

  }

}