@import '@/app/mixins.scss';

.clientLogos {
  padding: rem(60) 0;
}

.clientLogosList {
  align-items: center;
  display: grid;
  gap: rem(50);
  grid-template-columns: repeat(2, 1fr);

  img {
    height: auto;
    max-width: rem(150);
    max-height: rem(40);
    width: 100%;
    margin: 0 auto;
  }

}


@include breakpoint(sm) {

  .clientLogos {
    padding: rem(80) 0;
  }

  .clientLogosList {
    gap: rem(60) rem(50);
    grid-template-columns: repeat(4, 1fr);
  }

}

@include breakpoint(md) {

  .clientLogos {
    padding: rem(100) 0;
  }

  .clientLogosList {
    gap: rem(70) rem(50);    
  }

}

@include breakpoint(lg) {

  .clientLogos {
    padding: rem(200) 0 rem(100);
  }

}

@include breakpoint(xl) {

  .clientLogosList {
    grid-template-columns: repeat(6, 1fr);
  }

}

@include breakpoint(xxl) {

  .clientLogosList {
    gap: rem(120) rem(90);
    grid-template-columns: repeat(6, 1fr);

    img {
      max-width: rem(200);
      max-height: rem(60);
    }

  }

}