@import '@/app/mixins.scss';

.testimonial {
  margin: 0;
  padding: 0;

  svg {
    height: auto;
    margin-bottom: rem(20);
    width: rem(30);
  }

}

.quote {
    font-style: italic;
}

.cite {
    column-gap: rem(20);
    display: grid;
    font-size: rem(14);
    font-style: normal;
    grid-template-columns: rem(55) 1fr;
    letter-spacing: rem(2);
    line-height: 1.75;
    margin-top: rem(30);
    text-transform: uppercase;

    p {
      margin: 0;
    }

  }

  .avatar {
    align-self: center;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .role {
    font-size: rem(12);
  }



@include breakpoint(sm) {

  .testimonial {

    svg {
      width: rem(55);
    }

  }

}

@include breakpoint(lg) {

    .role {
      font-size: rem(14);
    }

  }


  @include breakpoint(md) {

    .cite {
      margin-top: rem(40)
    }

  }

@include breakpoint(xl) {

  .testimonial {
    display: flex;
    flex-direction: column;

    svg {
      margin-bottom: rem(40);
    }

  }

  .quote {
    margin-bottom: auto;
  }

  .cite {
    font-size: rem(15);
    letter-spacing: rem(3);
    margin-top: rem(60);
    }

}
