@import '@/app/mixins.scss';

.servicesMasthead {

    > div {
        display: grid;
        gap: rem(16);
    }
}

.intro {
    margin-bottom: rem(20);
}

@include breakpoint(xs) {

    .servicesMasthead {

        > div {
            grid-template-columns: repeat(2, 1fr);
        }

    }

    .intro {
        grid-column: 1 / 3;
    }

}

@include breakpoint(md) {

    .servicesMasthead {

        > div {
            gap: rem(20);
            grid-template-columns: repeat(3, 1fr);
        }

    }

    .intro {
        grid-column: 1 / 3;
        margin-bottom: 0;
        max-width: rem(700);
    }

}

@include breakpoint(lg) {

    .servicesMasthead {

        > div {
            gap: rem(30);
            grid-template-columns: repeat(4, 1fr);
        }

    }

}
